*{
    margin: 0;
    padding: 0;
    
    

}
.charger_d{
    background-color: rgb(172, 148, 117);
    font-family: Arial, Helvetica, sans-serif;
    
}
/* .dropd{
    padding-left: 50%;

} */
.gobtn{
    background-color: yellow;
    height: 60px;
    width: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}